.form-body {
  text-align: center;
}

.App {
  text-align: center;
}
.form-input {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 70px;
  width: 400px;
  padding: 0px 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
}
.btn-submit {
  background-color: transparent;
  width: 250px;
  padding: 3% 0%;
  border-radius: 40px;
  color: gray;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.btn-submit:hover {
  color: black;
}
.btn-submit:active {
  background-color: black;
}
.btn-login {
  background-color: transparent;
  width: 350px;
  padding: 3% 0%;
  border-radius: 40px;
  color: gray;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.btn-login:hover {
  color: black;
  border-color: black;
}
.btn-login:active {
  background-color: black;
}
